{% extends 'base.html' %}
{% block content %}
<div class='page-header'>
    <h2>Nova Tarefa</h2>
</div>
<form method='post' action='.'>
    {% csrf_token %}
    {{ form.non_field_errors }}
    {% for field in form %}
    <div class='form-group'>
        <label for='{{ field.id_for_label }}' class='label-control'>
            {{ field.label }}
        {% if field.field.required %} * {% endif %}
        </label>
        {{ field }}
        {% if field.errors %}
            <div class='alert-danger'>{{ field.errors }}</div>
        {% endif %}
    </div>
    {% endfor %}
    <button type='submit' class='btn btn-primary'>Criar</button>
</form>
<script>
    acertaClasseTarefa();
</script>
{% endblock %}
