{% extends "base.html" %}
{% block content %}
<div class="page_header">
    <h2>Detalhes da Tarefa</h2>
</div>
<dl class="dl-horizontal">
    <dt>Nome:</dt> 
    <dd>{{ object.nome }} </dd>

    <dt>Data de Criação:</dt> 
    <dd>{{ object.data_de_criacao|date:"d/m/Y H:i" }}</dd>

    <dt>Descrição:</dt> 
    <dd>{{ object.descricao }}</dd>

    <dt>Status:</dt>
    <dd>{% if object.finalizado %} Finalizado {% else %} Aberto {% endif %}</dd>

    {% if object.data_de_execucao  %}
        <dt>Data de Execução:</dt> 
        <dd>{{ object.data_de_execucao }}</dd>
    {% endif %}

    <dt>Usuário</dt>
    <dd>{{ object.usuario }}</dd>
</dl>
{% endblock %}
